<template>
  <tr>
    <td>{{ name }}</td>
    <td><a :href="link">Link</a></td>
    <td>{{ firstAttempt.split('T')[0] }}</td>
    <td>{{ lastReview.split('T')[0] }}</td>
    <td>{{ difficulty }}</td>
    <td>{{ fullAnswer }}</td>
  </tr>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    name: {
      type: String,
      required: true,
      default: '',
    },
    link: {
      type: String,
      required: false,
      default: null,
    },
    firstAttempt: {
      type: String,
      required: false,
      default: '',
    },
    lastReview: {
      type: String,
      required: false,
      default: '',
    },
    difficulty: {
      type: String,
      required: false,
      default: '',
    },
    fullAnswer: {
      type: Boolean,
      required: false,
      default: false,
    },
    blog: {
      type: String,
      required: false,
      default: '',
    },
  },
})
</script>
