<template>
  <div>
    <nav>
      <a href="/"
        ><img
          src="/images/logo-state-1.svg"
          alt="Cool Software navigation logo"
          width="150px"
          height="auto"
      /></a>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </nav>
    <Nuxt />
  </div>
</template>

<style>
:root {
  --gray: #333;
  --green: #00dec6;
  --lightBlue: #abdae1;
  --blue: #14bdeb;
  --purple: #7000f8;
  --pink: #c67fff;
}

html,
body {
  background: var(--gray);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: var(--green);
  font-size: 3.052rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.441rem;
  font-weight: lighter;
}

h3 {
  font-size: 1.953rem;
  font-weight: lighter;
}

h4 {
  font-size: 1.563rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

a {
  color: var(--pink);
}

a:focus,
a:hover {
  text-decoration: underline;
}

nav a {
  color: #fff;
  font-weight: bold;
}

nav {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0 auto;
  max-width: 900px;
  padding: 2em 0;
}

nav ul {
  align-self: center;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-left: 1.25em;
}

nav ul li:first-of-type {
  margin-left: 0;
}

@media (max-width: 768px) {
  nav {
    grid-template-columns: 1fr;
    padding: 2em;
  }

  nav ul li {
    margin-top: 1em;
  }
}
</style>
