<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content('articles', params.slug).fetch()

    return { article }
  },
}
</script>

<template>
  <article>
    <h1>{{ article.title }}</h1>
    <nuxt-content :document="article" />
  </article>
</template>

<style>
article {
  margin: 0 auto;
  max-width: 900px;
}

article .nuxt-content p {
  margin-bottom: 0.5em !important;
}

article .nuxt-content table {
  border: 1px solid var(--green);
  margin-bottom: 1em;
}

article .nuxt-content tr,
article .nuxt-content td {
  border: 1px solid var(--green);
  padding: 0.5em;
}
</style>
