<template>
  <div>
    <main>
      <ul>
        <li v-for="article of articles" :key="article.slug">
          <div>
            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
            <NuxtLink
              :to="{ name: 'blog-slug', params: { slug: article.slug } }"
            >
              Read more</NuxtLink
            >
          </div>
        </li>
      </ul>
    </main>
  </div>
</template>

<script>
export default {
  async asyncData({ $content }) {
    const articles = await $content('articles')
      .only(['title', 'description', 'slug'])
      .sortBy('createdAt', 'asc')
      .fetch()

    return {
      articles,
    }
  },
}
</script>

<style scoped>
main {
  margin: 0 auto;
  max-width: 900px;
}

p {
  max-width: 600px;
}

li {
  margin-bottom: 2em;
}
</style>
