<template>
  <main>
    <h1>Programming Problems</h1>
    <p>{{ problems.length }} solved in {{ days }} days</p>
    <table style="table table-fixed">
      <thead>
        <th class="w-2/12 text-left">Name</th>
        <th class="text-left">Link</th>
        <th class="w-1/12 text-left">First attempt</th>
        <th class="w-1/12 text-left">Last review</th>
        <th class="text-left">Difficulty</th>
        <th class="text-left">Full answer</th>
      </thead>
      <Problem
        v-for="problem in problems"
        :key="problem.link"
        :name="problem.name"
        :link="problem.link"
        :first-attempt="problem.first_attempt"
        :last-review="problem.last_review"
        :difficulty="problem.difficulty"
        :full-answer="problem.full_answer"
      />
    </table>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  async asyncData({ $content }) {
    const problems = await $content('leetcode-yaml')
      .sortBy('last_review')
      .fetch()

    return { problems }
  },
  computed: {
    days() {
      const date1 = new Date('04/13/2021')
      const date2 = new Date()

      // To calculate the time difference of two dates
      const differenceInTime = date2.getTime() - date1.getTime()
      // To calculate the no. of days between two dates
      const differenceInDays = differenceInTime / (1000 * 3600 * 24)

      return Math.floor(differenceInDays)
    },
  },
})
</script>

<style scoped>
main {
  margin: 0 auto;
  max-width: 900px;
}

table {
  border: 1px solid var(--green);
  margin-bottom: 1em;
}

tr,
td {
  border: 1px solid var(--green);
  padding: 0.5em;
}
</style>
